body {
    background-image: url("../img/index/hatterkep.jpg");
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	min-height: 100vh;
	height: fit-content;
}

#kep1 {
	width: 25rem;
	float: right;
	border-radius: 1rem;
}

#kep2 {
	width: 12rem;
	float: left;
	border-radius: 1rem;
}

#container {
	margin-top: 1rem;
	backdrop-filter: blur(10px);
	background-color: #0321032f;
	padding: 1rem;
	border-radius: 2rem;
}

nav {
	background-color: #5554;
	backdrop-filter: blur(10px);
}
