body {
    background-image: url("../img/level_hatter.png");
    margin: 0;
}

body::before{
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("../img/level_hatter.png");
    background-repeat: no-repeat;
    background-size: cover;

    filter: blur(10px);
    z-index: -1;

    transform: scale(1.1);
}
#Kep1 {
	width: 25rem;
	float: right;
}

#Kep2 {
	width: 12rem;
	float: left;
}
