body {
    background-image: url("premium_photo-1663962158789-0ab624c4f17d.avif");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100%;
}

#container {
}
