body {
    background-image: url("../img/lagyszaruak/level_hatter.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 100%;
}

#container {
}
